// We need to use ::ng-deep to overcome view encapsulation
::ng-deep {
  .custom-slider .ngx-slider .ngx-slider-bar {
    font-size: 10px;
    background: black;
    height: 3px;
    opacity: 0.6;
  }
  .custom-slider .ngx-slider .ngx-slider-selection {
    background: black;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: auto;
    bottom: -4px;
    background-color: black;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer:after {
    display: none;
  }

  .custom-slider .ngx-slider .ngx-slider-bubble {
    bottom: 14px;
  }

  .custom-slider .ngx-slider .ngx-slider-limit {
    font-weight: bold;
    color: black;
    font-size: 14px;
  }

  .custom-slider .ngx-slider .ngx-slider-tick {
    width: 6px;
    height: 6px;
    margin-left: 4px;
    border-radius: 0;
    background: black;
    top: 0.5px;
  }

  .custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
    opacity: 0;
  }
}
